@page "/GSM04000"
@using Microsoft.JSInterop;
@inherits R_Page
@inject IJSRuntime JS

<R_StackLayout>
    <R_ItemLayout>
        <R_Grid @ref="_gridDeptRef"
                DataSource="@_deptViewModel.DepartmentList"
                R_ConductorGridSource="_conGridDeptRef"
                Pageable="true"
                R_GridType="R_eGridType.Original"
                AllowAddNewRow="true"
                AllowDeleteRow="true"
                AllowEditRow="true"
                R_ServiceGetListRecord="DeptGrid_ServiceGetListRecord"
                R_After_Open_Grid_Lookup="Dept_After_Open_Lookup" R_Before_Open_Grid_Lookup="Dept_Before_Open_Lookup">
            <R_GridColumns>
                <R_GridTextColumn FieldName="CDEPT_CODE" HeaderText="Department Code" R_EnableAdd></R_GridTextColumn>
                <R_GridTextColumn FieldName="CDEPT_NAME" HeaderText="Department Name" R_EnableAdd R_EnableEdit></R_GridTextColumn>
                <R_GridLookupColumn FieldName="CCENTER_NAME" Name="CCENTER" HeaderText="Center Name" R_EnableAdd R_EnableEdit></R_GridLookupColumn>
                <R_GridLookupColumn FieldName="CMANAGER_NAME" Name="CMANAGER" HeaderText="Manager" R_EnableAdd R_EnableEdit></R_GridLookupColumn>
                <R_GridCheckBoxColumn FieldName="LEVERYONE" HeaderText="Everyone" R_EnableAdd R_EnableEdit></R_GridCheckBoxColumn>
                <R_GridCheckBoxColumn FieldName="LACTIVE" HeaderText="Active" R_EnableAdd R_EnableEdit></R_GridCheckBoxColumn>
                <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="Last Update By"></R_GridTextColumn>
                <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="Last Update Date"></R_GridTextColumn>
            </R_GridColumns>
        </R_Grid>
    </R_ItemLayout>
    <R_StackLayout xs="4" Row Class="m-1">
        <R_ItemLayout xs="2">
            <R_Button OnClick="@DownloadTemplateAsync">
                <R_Label>Template</R_Label>
            </R_Button>
        </R_ItemLayout>
        <R_ItemLayout xs="2">
            <R_Popup R_Before_Open_Popup="R_Before_Open_PopupUpload">Upload</R_Popup>
        </R_ItemLayout>
        <R_ItemLayout xs="2">
            <R_Popup @ref="R_PopupCheck" R_Before_Open_Popup="@R_Before_Open_PopupAssignUser" R_After_Open_Popup="@R_After_Open_PopupAssignUser">
                <R_Label>Assign User</R_Label>
            </R_Popup>
        </R_ItemLayout>
        <R_ItemLayout xs="2">
            <R_Popup R_ConductorGridSource="@_conGridDeptRef"
                     R_Before_Open_Popup="R_Before_Open_Popup_ActivateInactive"
                     R_After_Open_Popup="R_After_Open_Popup_ActivateInactive"
                     R_EnableOther>
                @loLabelActiveInactive
            </R_Popup>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row Class="mt-4">
        <H5>ASSIGNED USERS</H5>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout xs="3">
            <R_Label>Department</R_Label>
        </R_ItemLayout>
        <R_ItemLayout xs="3">
            <R_TextBox @bind-Value="@_deptUserViewModel.Data.CDEPT_CODE"
                       R_ConductorGridSource="@_conGridDeptUserRef" Enabled=false></R_TextBox>
        </R_ItemLayout>
        <R_ItemLayout xs="6">
            <R_TextBox @bind-Value="@_deptUserViewModel.Data.CDEPT_NAME"
                       R_ConductorGridSource="@_conGridDeptUserRef" Enabled=false></R_TextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout xs="6">
            <R_Grid @ref="_gridDeptUserRef"
                    DataSource="@_deptUserViewModel.DepartmentUserList"
                    R_ConductorGridSource="_conGridDeptUserRef"
                    Pageable="true"
                    R_GridType="R_eGridType.Original"
                    AllowAddNewRow="false"
                    AllowDeleteRow="true"
                    AllowEditRow="false"
                    R_ServiceGetListRecord="@DeptUserGrid_ServiceGetListRecord">
                <R_GridColumns>
                    <R_GridTextColumn FieldName="CUSER_ID" HeaderText="User ID"></R_GridTextColumn>
                    <R_GridTextColumn FieldName="CUSER_NAME" HeaderText="User Name"></R_GridTextColumn>
                    <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="Last Update By"></R_GridTextColumn>
                    <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="Last Update Date"></R_GridTextColumn>
                </R_GridColumns>
            </R_Grid>
        </R_ItemLayout>
        <R_ItemLayout xs="6">

        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>




<R_ConductorGrid @ref="@_conGridDeptRef"
                 R_ViewModel="@_deptViewModel"
                      R_IsHeader
                 R_Display="@DeptGrid_Display"
                 R_ServiceGetRecord="@DeptGrid_ServiceGetRecord"
                 R_ServiceDelete="@DeptGrid_ServiceDelete"
                 R_ServiceSave="@DeptGrid_ServiceSave"
                 R_DisableDeleteConfirmation=false
                 R_Validation="@DeptGrid_Validation"
                 >
</R_ConductorGrid>

<R_ConductorGrid @ref="@_conGridDeptUserRef"
                 R_ViewModel="@_deptUserViewModel"
                 R_ConductorParent="@_conGridDeptRef"
                 R_ServiceGetRecord="@DeptUserGrid_ServiceGetRecord"
                 R_ServiceDelete="@DeptUserGrid_ServiceDelete"></R_ConductorGrid>



